<section (clickOutside)="isOpened = false" >
    <div class="userNav cursor-pointer" (click)="isOpened = !isOpened" >
        <img 
        [src]="loggedInUser.profileImageLink || '../../../../../assets/images/user.svg'" 
        [alt]="loggedInUser.fullName + '-photo' "
        class="rounded-3xl">
    </div>
    
    <div [ngClass]="{'isShown': isOpened}" class="userControl shadow-md z-50" >
        <ul>
            <!-- <li class="p-2 hover:bg-accent cursor-pointer" (click)="isOpened=!isOpened" [routerLink]="[ '/my-profile']">
                My Profile
            </li> -->
            <li class="p-2 hover:bg-accent cursor-pointer" (click)="isOpened=!isOpened">
                <p>Signed In As: <span> {{loggedInUser.fullName}}</span></p>
            </li>
            <li class="p-2 hover:bg-accent cursor-pointer" (click)="confirmLogout()">
                Log Out
            </li>
        </ul>
    </div>
</section>
